{% extends '_html.html' %}

{% block title %}
    جزییات کتاب {{ book.title }}
{% endblock title %}

{% block content %}
    <h1>{{ book.title }}</h1>
    <h2>{{ book.author }}</h2>
    <p>{{ book.description|linebreaks }}</p>
    <p>{{ book.price }}</p>
    <br>
    <a class="btn btn-info" href={% url 'book_list' %}>لیست همه کتاب ها</a>
    <a class="btn btn-success" href={% url 'book_update' book.id %}>ویرایش کتاب</a>
    <a class="btn btn-danger" href={% url 'book_delete' book.id %}>حذف کتاب</a>
{% endblock content %}